.bio_container * {
  background-color: #2c3951;
}

.bio_name {
  font-size: 40px;
  font-weight: 600;
}

.bio_title {
  padding-top: 3%;
  font-style: italic;
}

.about_link {
  padding-bottom: 0px;
}

.bio_text {
  padding-top: 2%;
  padding-bottom: 3.5%;
}

.projects_container p {
  font-size: 28px;
  font-weight: 600;
}

.bio_container img {
  width: 25%;
  height: 25%;
}

.bio_container {
  display: flex;
  padding: 3% 18.5%;
  background-color: #2c3951;
  gap: 5%;
}

.projects_container {
  padding: 10% 18.5%;
}

.project_card_container {
  background-color: #2c3951;
  /* border-radius: 7%;
  padding: 3% 7% 3% 5%; */
  border-radius: 25px;
  padding: 20px;
  /* width: 200px; */
  height: 150px;
}
