.bio_container * {
  background-color: #2c3951;
}

.bio_name {
  font-size: 40px;
  font-weight: 600;
}

.bio_title {
  padding-top: 3%;
  font-style: italic;
}

.about_link {
  padding-bottom: 0px;
}

.bio_text {
  padding-top: 2%;
  padding-bottom: 3.5%;
}

.project_container_title {
  font-size: 28px;
  font-weight: 600;
}

.bio_container img {
  width: 25%;
  height: 25%;
  border-radius: 100%;
}

.bio_container {
  width: 100%;
  background-color: #2c3951;
}

.bio_information_container {
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #2c3951;
  margin-left: auto;
  margin-right: auto;
  gap: 5%;
  max-width: 800px;
  padding-left: 23px;
  padding-right: 23px;
}

.projects_container {
  /* padding-top: 3%;
  padding-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; */
  /* margin-left: 23px;
  margin-right: 23px; */
  display: flex;
  flex-wrap: wrap;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  gap: 5%;
  max-width: 800px;
  padding-left: 23px;
  padding-right: 23px;
}

.project_card_container {
  background-color: #2c3951;
  border-radius: 15px;
  /* padding: 2%; */
  padding: 23px;
  min-height: 75px;
  display: flex;
  gap: 23px;
  margin-top: 4%;

  /* max-width: 700px; */
}

.project_card_container * {
  background-color: #2c3951;
}

.project_text_title {
  font-size: 18px;
  font-weight: 600;
}

.project_text_container {
  margin-top: 0%;
  margin-bottom: 0%;
}

.project_text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 2%;
  color: #deeeff;
}

.project_image {
  width: 280px;
  height: 134.4px;
  border-radius: 15px;
  object-fit: cover;
}

.project_image_container {
  width: 100%;
  /* display: flex;
  align-items: center; */
  /* object-fit: cover; */
}

.project_card_container.unfinished {
  background-color: #262936;
}

.project_card_container.unfinished * {
  background-color: #262936;
}

.project_card_container.unfinished {
  border-style: dashed;
  border-color: #7a91c0;
}
.project_card p {
  line-height: 1.5em;
}

@media screen and (max-width: 650px) {
  .project_card_container {
    display: block;
  }
  .project_image {
    width: 100%;
    max-width: none;
  }
  .project_card {
    margin-bottom: 40px;
  }
  .project_image {
    margin-bottom: 16px;
  }
  .bio_name {
    font-size: 32px;
  }
  .project_image {
    width: 100%;
  }
}
