.highlights_container {
  margin-left: 110px;
}

.achievements > p {
  width: 200px;
}

.achievements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
}

.achievement_statistics {
  color: #fd2a36;
  font-weight: 700;
  font-size: larger;
}

.learn_more_link {
  color: #80bdff;
}

.highlights_information_container {
  margin-bottom: 40px;
}

.company_logos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.company_logos > img {
  width: 20%;
  cursor: pointer;
}
