.hero_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero_text {
  display: inline-block;
  margin-right: auto;
}

img.hero_img {
  width: 55%;
  display: inline-block;
}

.scroll_down {
  margin-top: 10vh;
}

.scroll_down_img {
  margin-top: 2vh;
  height: 30px;
}

.hero_title {
  font-size: 45px;
  font-weight: 500;
}
