.hero_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero_text {
  display: inline-block;
  margin-right: auto;
}

img.hero_img {
  width: 55%;
  display: inline-block;
}
