.hero_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;
}

.hero_text {
  display: inline-block;
  margin-right: auto;
  margin-top: 0;
}

img.hero_img {
  width: 55%;
  display: inline-block;
  vertical-align: middle;
}

.scroll_down {
  margin-top: 2vh;
}

.scroll_down_img {
  margin-top: 2vh;
  height: 30px;
}

.hero_title {
  font-size: 45px;
  font-weight: 600;
}

.button_container {
  padding-top: 6vh;
}

@media screen and (max-width: 1060px) {
  .hero_title {
    font-size: 35px;
  }
  .scroll_down {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}

@media screen and (max-width: 850px) {
  img.hero_img {
    width: 45%;
  }
}

@media screen and (max-width: 755px) {
  .hero_title {
    font-size: 42px;
  }

  .hero_container {
    justify-content: none;
    flex-direction: column;
  }

  img.hero_img {
    display: none;
  }

  .button_container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 584px) {
  .hero_text {
    margin-top: 4vh;
  }
}
