.hero_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero_text {
  display: inline-block;
  margin-right: auto;
}

img.hero_img {
  width: 50%;
  display: inline-block;
}
