.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about_text {
  text-align: center;
  width: 600px;
}

.about_text_container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about_link {
  color: #80bdff;
  padding-bottom: 30px;
}

.about_img {
  width: 600px;
}

@media screen and (max-width: 1060px) {
  .about_text {
    font-size: smaller;
    font-weight: 400;
  }

  .about_link {
    font-size: smaller;
    font-weight: 400;
  }
}

@media screen and (max-width: 640px) {
  .about_text {
    text-align: left;
    width: 100%;
  }

  .about_container {
    align-items: baseline;
  }

  .about_img {
    width: 300px;
  }

  .about_text_container {
    gap: 20px;
    align-items: flex-start;
  }
}
