.fellowship_container .title {
  color: white;
}

p.title {
  padding-top: 40px;
  font-size: 1.1em;
}

.fellowship_vector {
  width: 60%;
  margin-right: 10px;
}

.fellowship_text_container {
  margin-left: auto;
  width: 80%;
}

.fellowship_text {
  /* width: 80%; */
  font-size: 18px;
  margin-bottom: 50px;
}

.information_container {
  display: flex;
  justify-content: flex-end;
}

.fellowship_title {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10%;
}

.perks_container {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1a1d2c;
}

.past_mentors {
  background-color: #1a1d2c;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

.fellowship_company_logos img {
  height: 48px;
  margin: 28px 16px 0 16px;
}

.fellowship_company_logos {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  justify-content: center;
}

.past_mentors * {
  background-color: #1a1d2c;
}

.perks_display {
  display: flex;
  justify-content: space-evenly;
}

.perks_display img {
  width: 25px;
}

.perks_display_subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
  text-align: center;
  gap: 10px;
  margin-bottom: 50px;
}

.perks_text {
  font-size: smaller;
}

.perks_container * {
  background-color: #1a1d2c;
}

.perks_subtitle {
  font-size: 18px;
}

.fellowship_footer_signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.fellowship_footer_signup p {
  text-align: center;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 18px;
}

@media screen and (max-width: 1264px) {
  .fellowship_company_logos img {
    height: 32px;
    margin: 20px 12px 0 12px;
  }
}

@media screen and (max-width: 970px) {
  .perks_container {
    padding: 0px 40px;
  }
  .perks_text {
    font-size: smaller;
  }

  .perks_display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
  }

  .perks_display_subcontainer {
    width: 200px;
  }
}

@media screen and (max-width: 900px) {
  .fellowship_company_logos img {
    height: 24px;
    margin: 20px 7px 0 7px;
  }
}

@media screen and (max-width: 755px) {
  .fellowship_title {
    font-size: 45px;
  }

  .fellowship_text_container {
    width: 100%;
  }

  .fellowship_vector {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  img.fellowship_vector {
    display: none;
  }

  .perks_display {
    justify-items: left;
  }

  .perks_display_subcontainer {
    align-items: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .perks_display {
    grid-template-columns: 1fr;
  }

  .perks_display_subcontainer {
    width: 300px;
  }

  .fellowship_footer_signup p {
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* PHASES */

.timeline {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 100px;
}

.timeline .info {
  margin-bottom: 40px;
}

.phase {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  border-radius: 18px;
  padding: 10px;
  -webkit-transition: ease-in-out filter 0.3s;
  transition: ease-in-out filter 0.3s;
}

@media only screen and (max-width: 576px) {
  .phase {
    width: 320px;
  }
}

.phase .phase-text {
  -webkit-transition: ease-in-out transform 0.3s;
  transition: ease-in-out transform 0.3s;
}

.phase .phase-icon {
  -webkit-transition: ease-in-out transform 0.3s;
  transition: ease-in-out transform 0.3s;
}

@media only screen and (min-width: 577px) {
  .phase:hover .phase-text {
    -webkit-transform: scale(104%) translateX(2%) translateY(2%);
    transform: scale(104%) translateX(2%) translateY(2%);
  }
  .phase:hover .phase-icon {
    -webkit-transform: scale(110%);
    transform: scale(110%);
  }
}

.phase h3 {
  margin: 0;
}

.phase p {
  margin: 0;
}

.phase-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.phase-icon {
  margin-bottom: 15px;
}

.phase-icon img {
  max-height: 25px;
}

.phase-arrow {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
  opacity: 90%;
}

.phase-arrow img {
  height: 150px;
}

.hidden-arrow {
  opacity: 0;
}

.phase-text {
  margin-left: 16px;
}

.phase-title {
  margin-bottom: 0.1em;
}

.phase-date {
  text-transform: uppercase;
  color: #b8cfed;
  margin-bottom: 0.8em;
  font-size: 0.8em;
}

.phase-description p {
  color: #dde9f9;
}
