.program_container {
  display: flex;
  flex-direction: column;
}

.information_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text_container {
  flex-direction: column;
  width: 500px;
  display: inline-block;
}

.membership_photo {
  width: 500px;
  display: inline-block;
}
