header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 100px;
}

.logo_container {
  margin-right: auto;
  cursor: pointer;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo_text {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
}

.navbar_links li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar_links li a {
  transition: all 0.3s ease 0s;
}

.navbar_links li a:hover {
  color: #fd2a36;
}

.button_container {
  display: flex;
  gap: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 8px;
}

.header_text {
  cursor: pointer;
}

.dropdown:hover .dropdown_content {
  display: flex;
  flex-direction: column;
}

.dropdown_img {
  width: 10px;
}
