@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  background-color: #262936;
  font-family: Poppins, sans-serif;
  color: white;
  text-decoration: none;
}

.title {
  padding: 20px 0px 40px 0px;
  color: #fd2a36;
  text-align: center;
}

.subtitle {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}

.container {
  min-height: 40vh;
  padding: 40px 100px;
}

@media screen and (max-width: 967px) {
  .container {
    padding: 0px 40px;
  }
}
