<article class="mt-2 text-md text-basicSurface-700">
  <h2 class="text-xl">
    <strong
      >Case Study - Improving the Social Feature of the Nike Run Club</strong
    >
  </h2>
  <p>
    For this case study, I took the role of a product manager for Nike Run Club,
    Nike’s running tracker and training program application. To arrive at
    well-developed a solution, I followed a rigorous product management process
    by conducting user research, identifying pain points, applying PM-specific
    frameworks to narrow down a viable opportunity and designing a solution.
  </p>
  <p><strong>Deliverables:</strong></p>
  <ol class="list-decimal list-inside pl-6">
    <li><p>User Personas</p></li>
    <li><p>Opportunity Map</p></li>
    <li><p>Feature Prioritization</p></li>
    <li><p>Product Requirement Document</p></li>
    <li>
      <p>Visual Mockups (Low-fi and High-fi)</p>
      <p></p>
    </li>
  </ol>
  <h2 class="text-xl">
    <strong><u>Introducing Nike Run Club</u></strong>
  </h2>
  <p>
    Growing up in Vancouver, fitness and health has always been an integral part
    of my life. Surrounded by beautiful mountains and living by the coast, I
    found myself partaking in a lot of outdoor activities and specifically
    running when I entered university. This summer, I decided to challenge my
    running abilities by setting a goal of completing a half marathon by the end
    of the summer. While I was training independently for the first few weeks, I
    quickly found myself training with the Nike Run Club app and it slowly
    became one of my favourite trackers for running.&nbsp;
  </p>
  <figure>
    <div
      class="flex items-center mt-5 ignore-typography justify-center bg-surface-100 -ml-4 -mr-4 sm:!-ml-6 sm:!-mr-6"
      data-index="0"
    >
      <img
        src="https://tribe-s3-production.imgix.net/ZevyJCAzaTVuK8fGh5cP2?w=1000&amp;auto=compress,format&amp;dl"
        class="cursor-pointer max-h-120"
        alt=""
      />
    </div>
  </figure>
  <p>
    From distance, elevation and pace tracking to guided run and training plans,
    the mobile application had all the features to be considered an all-in-one
    tracker. Users on the app are able to record their outdoor or treadmill runs
    while keeping a history of past activities. Coupled with a simple user
    interface (UI), the app felt seamless where pages and features were easy to
    use and quick to navigate.&nbsp;
  </p>
  <p></p>
  <h2 class="text-xl">
    <strong><u>Project Objective</u></strong>
  </h2>
  <p><strong>Situation:</strong></p>
  <p>
    During my time using the application, there were pain points I have
    identified as well as features that I would want to see within the
    application.&nbsp;
  </p>
  <p>
    <strong>1. Community.</strong> As a runner, there’s never a better feeling
    than running with your running partner, group, or friends where you feel
    challenged and supported throughout the entire run. This sense of community
    and relationship you build through these activities is one of the biggest
    reasons why I personally run and have stuck by this hobby to this day. While
    the Nike Run Club has a leaderboard and a friend request feature, it lacks
    interaction between users and the social aspect of running.
  </p>
  <p>
    <strong>2. Prognostic and Diagnostic with Running Data. </strong>Another big
    reason why I love fitness tracking applications is because of the data you
    can collect and the ability to observe your progress through quantitative
    results. With today’s focus on data, there are a plethora of parameters
    collected during each run that can be used to build a better understanding
    of the body, the progress of the runner, and trends.&nbsp;
  </p>
  <p><strong>Assumption:</strong></p>
  <ul class="list-disc list-inside pl-6">
    <li>
      <p>
        Runners feel more encouraged and supported when they are socially
        connected with other runners
      </p>
    </li>
    <li>
      <p>
        The data that is collected from runs is a big reason users rely on
        tracking apps to determine their progress
      </p>
    </li>
    <li>
      <p>
        The Nike Run Club app provides guidance and structure to runners through
        training plans and guided runs
      </p>
    </li>
  </ul>
  <p><strong>Hypothesis:&nbsp;</strong></p>
  <ul class="list-disc list-inside pl-6">
    <li>
      <p>
        The Nike Run Club can build community through a more socially
        transparent and user-responsive feature
      </p>
    </li>
    <li>
      <p>
        The addition of data-driven features will give users a more
        comprehensive and in-depth analysis of their training
      </p>
    </li>
  </ul>
  <p><strong>Timeline</strong></p>
  <p>I am hoping to spend a total of 10 hours on this project:</p>
  <ul class="list-disc list-inside pl-6">
    <li>
      <p>
        2 Hours on identifying user pain points, needs as well as competitors in
        the market
      </p>
    </li>
    <li><p>3 Hours on brainstorming and focusing on one solution</p></li>
    <li>
      <p>
        3 hours on the low-fi wireframe (potentially mid-fi if time
        permits)&nbsp;
      </p>
    </li>
    <li><p>1 Hour on the reflection and conclusion</p></li>
  </ul>
  <p></p>
  <h2 class="text-xl">
    <strong><u>User Research</u></strong>
  </h2>
  <p>
    For user research, I surveyed <strong>five existing users</strong> of the
    application and relied on sources comprised of App Store reviews, running
    blogs, and subreddits (r/running). Many of the pain points expressed by
    reviews were centred around the social aspect of the application and the
    lack of engagement between users. These themes were further explored through
    categorization in the user personas and an opportunity map
  </p>
  <p><strong>User Persona&nbsp;</strong></p>
  <p>
    After compiling and distilling the insights from the user research phase, I
    realized the frustrations and improvements expressed by users are highly
    dependent on their goal in running. Those who are less driven in running
    seek structure within the application while those who are more
    self-disciplined tend to explore more social features. Hence, I have created
    three specific user personas to highlight the archetypes of a regular
    user:&nbsp;
  </p>
  <figure>
    <div
      class="flex items-center mt-5 ignore-typography justify-center bg-surface-100 -ml-4 -mr-4 sm:!-ml-6 sm:!-mr-6"
      data-index="1"
    >
      <img
        src="https://tribe-s3-production.imgix.net/kZ2FGFMobnZWsADgXAKOr?w=1000&amp;auto=compress,format&amp;dl"
        class="cursor-pointer max-h-120"
        alt=""
      />
    </div>
  </figure>
  <figure>
    <div
      class="flex items-center mt-5 ignore-typography justify-center bg-surface-100 -ml-4 -mr-4 sm:!-ml-6 sm:!-mr-6"
      data-index="2"
    >
      <img
        src="https://tribe-s3-production.imgix.net/X4afFKLRqhokgEgt54BOP?w=1000&amp;auto=compress,format&amp;dl"
        class="cursor-pointer max-h-120"
        alt=""
      />
    </div>
  </figure>
  <p><strong>Opportunity Map</strong></p>
  <p>
    The opportunity map below indicates the desired outcome and potential
    opportunities to improve the application through user pain points and needs.
  </p>
  <p></p>
  <figure>
    <div
      class="flex items-center mt-5 ignore-typography justify-center bg-surface-100 -ml-4 -mr-4 sm:!-ml-6 sm:!-mr-6"
      data-index="3"
    >
      <img
        src="https://tribe-s3-production.imgix.net/2AObqBHm38Uo0wQHcbBkf?w=1000&amp;auto=compress,format&amp;dl"
        class="cursor-pointer max-h-120"
        alt=""
      />
    </div>
  </figure>
  <p></p>
  <h2 class="text-xl">
    <strong><u>Solution</u></strong>
  </h2>
  <p><strong>Potential Solutions</strong><br /></p>
  <ol class="list-decimal list-inside pl-6">
    <li>
      <p><em>Integration with social media platforms</em></p>
      <ul class="list-disc list-inside pl-6">
        <li>
          <p>
            Similar to provider authentication, users are given the ability to
            connect with other users through other services such as Facebook,
            Instagram, Twitter, etc.
          </p>
        </li>
      </ul>
    </li>
    <li>
      <p>
        <em
          >Sharing of user metadata (runs, shoes, location) with other users</em
        >
      </p>
      <ul class="list-disc list-inside pl-6">
        <li>
          <p>
            The user's profile will display information they can already see to
            the public such as the shoes they use, individual running data, and
            events they have participated in (Users can choose the visibility of
            the metadata)
          </p>
        </li>
      </ul>
    </li>
    <li>
      <p><em>Add weekly progress for training plans</em></p>
      <ul class="list-disc list-inside pl-6">
        <li>
          <p>
            On the training plan page, running data is distilled and segregated
            per week for users to see their progress
          </p>
        </li>
      </ul>
    </li>
    <li>
      <p><em>Remove the leaderboard feature</em></p>
      <ul class="list-disc list-inside pl-6">
        <li>
          <p>
            At the moment, users can view other runners' progress by seeing how
            many kilometres they have left to catch up to another user. This
            will be removed as it promotes competitiveness and an unhealthy
            perception on the activity.
          </p>
        </li>
      </ul>
    </li>
    <li>
      <p><em>Adding notifications to remind the runners</em></p>
      <ul class="list-disc list-inside pl-6">
        <li>
          <p>
            This is a support feature to remind users who are inactive or
            following a rigorous training plan to open the app and incentivize
            the activity of running.
          </p>
        </li>
      </ul>
    </li>
  </ol>
  <p><strong>Feature Prioritization</strong></p>
  <figure>
    <div
      class="flex items-center mt-5 ignore-typography justify-center bg-surface-100 -ml-4 -mr-4 sm:!-ml-6 sm:!-mr-6"
      data-index="4"
    >
      <img
        src="https://tribe-s3-production.imgix.net/0wgeCWGEul3s8ZcESZ1of?w=1000&amp;auto=compress,format&amp;dl"
        class="cursor-pointer max-h-120"
        alt=""
      />
    </div>
  </figure>
  <p><strong>Value Proposition</strong></p>
  <p>
    Nike Run Club's implementation of sharing user metadata and integration with
    other social providers will enable users to feel more supported by a
    community of runners and increase accessibility in developing connections
    between users.
  </p>
  <p></p>
  <h2 class="text-xl">
    <strong><u>Design</u></strong>
  </h2>
  <p><strong>Product Requirements</strong></p>
  <ol class="list-decimal list-inside pl-6">
    <li>
      <p>
        Users must be able to connect with at least one provider when searching
        for friends
      </p>
    </li>
    <li>
      <p>
        Users can view another user’s running progress weekly, monthly, and
        annually
      </p>
    </li>
    <li><p>Users can view the shoes, friends and clubs of other users</p></li>
  </ol>
  <p><strong>Design Requirements</strong></p>
  <ol class="list-decimal list-inside pl-6">
    <li>
      <p>
        Users are able to quickly navigate between different time periods for
        running data
      </p>
    </li>
    <li>
      <p>
        Profiles should be visual and be quickly interpreted by users from a
        glance
      </p>
    </li>
    <li>
      <p>
        Integration with other social media providers should be visual and
        modular for the addition of onboarding more providers
      </p>
    </li>
    <li>
      <p>
        A graphical approach for running data will be more user-friendly for
        long periods
      </p>
    </li>
  </ol>
  <p><strong>Visual Mockup&nbsp;</strong></p>
  <figure>
    <div
      class="flex items-center mt-5 ignore-typography justify-center bg-surface-100 -ml-4 -mr-4 sm:!-ml-6 sm:!-mr-6"
      data-index="5"
    >
      <img
        src="https://tribe-s3-production.imgix.net/MmHJtiD1Js4G6Rq2Nuoo2?w=1000&amp;auto=compress,format&amp;dl"
        class="cursor-pointer max-h-120"
        alt=""
      />
    </div>
  </figure>
  <p><strong>Low-fi&nbsp;</strong></p>
  <figure>
    <div
      class="flex items-center mt-5 ignore-typography justify-center bg-surface-100 -ml-4 -mr-4 sm:!-ml-6 sm:!-mr-6"
      data-index="6"
    >
      <img
        src="https://tribe-s3-production.imgix.net/IHbw1oQNJjDKixBRSH8LL?w=1000&amp;auto=compress,format&amp;dl"
        class="cursor-pointer max-h-120"
        alt=""
      />
    </div>
  </figure>
  <p><strong>High-fi</strong></p>
  <figure>
    <div
      class="flex items-center mt-5 ignore-typography justify-center bg-surface-100 -ml-4 -mr-4 sm:!-ml-6 sm:!-mr-6"
      data-index="7"
    >
      <img
        src="https://tribe-s3-production.imgix.net/UKV0U4Kbb2205cFsN7bN8?w=1000&amp;auto=compress,format&amp;dl"
        class="cursor-pointer max-h-120"
        alt=""
      />
    </div>
  </figure>
  <p></p>
  <h2 class="text-xl">
    <strong><u>Conclusion</u></strong>
  </h2>
  <p><strong>Risk and Mitigation</strong></p>
  <p>
    <strong>Privacy</strong> - With the implementation of sharing features, it
    comes naturally that privacy and user permission will be a potential risk
    for the application. Especially with runs that involve GPS and health
    information, it is important to be cognizant of sensitive information such
    as running metadata when enabling sharing between users.&nbsp;
  </p>
  <p><strong>Looking Forward</strong></p>
  <p>
    Moving forward, I want to spend more time working on user research and
    developing a more fundamental understanding of the users and how to better
    support them.
  </p>
  <p>
    If given more time, there are more frameworks I would like to explore and
    analyze to see if the outcome of this project would change. Additionally, I
    would love to build this application on React Native or Swift to see the
    development efforts and the design becoming reality.
  </p>
  <p><strong>Reflection and Learnings</strong></p>
  <p>
    After completing this project, it felt as if I took my first step into
    product management. From working with different frameworks to learning the
    processes used in the industry, it was a breath of fresh air to see a
    product I use every day through the lens of a product manager.
  </p>
  <p>
    I learned the importance of taking a large number of pain points and really
    narrowing them down to one solution using tools and prioritization.
    Moreover, the notion of rephrasing problems and taking unorthodox approaches
    to problem-solving has changed my mindset when finding solutions.
  </p>
</article>
