.project_page * {
  font-family: Inter, sans-serif;
}

.project_main_container {
  border-top: solid;
  border-width: 1px;
  border-color: #c5d1df;
}

.project_page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
.project_page p {
  line-height: 1.8em;
}

.project_page ol {
  margin-left: 30px;
}

.project_container {
  margin-bottom: 30px;
}

.project_container p {
  color: #dde9f9;
  font-size: 18px;
}

.project_container em {
  color: #dde9f9;
  font-size: 18px;
}

.project_meta img {
  width: 100%;
  border-radius: 10px;
}

.project_container_info * {
  margin-top: 20px;
}

.project_page h1 {
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 1.4em;
}

.project_container h2 {
  margin-bottom: 20px;
}

.project_container h3 {
  margin-top: 30px;
  margin-bottom: 5px;
}

.project_page hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.project_container ul {
  margin-left: 30px;
}

.project_container hr {
  margin-bottom: 25px;
}

.project_container img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.preview {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.project_meta {
  border-bottom: 3px solid white;
  margin-bottom: 20px;
}

.project_meta_intro p {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
}

.project_meta_card_container {
  margin-top: 30px;
  width: fit-content;
  border-radius: 0.25rem;
}

.project_meta_card {
  display: flex;
  gap: 10px;
  border-radius: 0.25rem;
  padding-bottom: 30px;
}

.project_meta_card img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.meta_card_div p {
  color: #262936;
  margin-top: 5px;
}
.meta_card_div {
  padding: 2px 16px;
}
.meta_title {
  color: #262936dd;
}
.meta_name {
  font-size: 20px;
  margin-bottom: 4px;
}

.meta_date {
  font-size: 18px;
  color: #dde9f9;
}

.project_meta_card p {
  line-height: normal;
}

.meta_p {
  display: inline;
}
